---
layout: default
---
{% include page/masthead.html %}
<hr style="border-bottom:1px #111 solid; margin:0px; padding:0px; margin-bottom: 20px;">

<div id="play" class="article article-odd">
    <h1><a link="#play"></a>Join today!</h1>
    <a class="staffbox" href="steam://connect/play.galeforce.me:15151/">
        <img class="picture" src="assets/img/optim/prophunt.png">
        <div class="name">Garry's Mod -- Prop Hunt</div>
        <div class="position">Click to Connect!</div>
        <hr>
        <p class="description">Search for your friends who are disguised as furniture while they're making weird noises to misguide you!</p>
    </a>

    <a class="staffbox" href="steam://connect/play.galeforce.me:25252">
        <img class="picture" src="assets/img/optim/sandbox.png">
        <div class="name">Garry's Mod -- Sandbox</div>
        <div class="position">Click to Connect!</div>
        <hr>
        <p class="description">Make wacky contraptions using WireMod and other tools, or build cool vehicles and aircraft, or stage NPC wars!</p>
    </a>

    <a class="staffbox" href="steam://connect/play.galeforce.me:35353">
        <img class="picture" src="assets/img/optim/ttt.png">
        <div class="name">Garry's Mod -- Trouble in Terrorist Town</div>
        <div class="position">Click to Connect!</div>
        <hr>
        <p class="description">Find the traitor in your group before they take out the entire team!</p>
    </a>

    <div class="staffbox">
        <img class="picture" src="assets/img/optim/tdm.png">
        <div class="name">Xonotic -- Deathmatch</div>
        <div class="position">Connection Address: <b>play.galeforce.me:36363</b>
        </div>
        <hr>
        <p class="description">It's everyone for themselves! Take out your enemies, and emerge from the fight victorious!</p>
    </div>

    <div class="staffbox">
        <img class="picture" src="assets/img/optim/tdm.png">
        <div class="name">Xonotic -- Onslaught</div>
        <div class="position">Connection Address: <b>play.galeforce.me:46464</b>
        </div>
        <hr>
        <p class="description">Capture the control points and destroy the enemy's base! Fun in large groups.</p>
    </div>

    <div class="staffbox">
        <img class="picture" src="assets/img/optim/tdm.png">
        <div class="name">Xonotic -- Team Death Match</div>
        <div class="position">Connection Address: <b>play.galeforce.me:56565</b>
        </div>
        <hr>
        <p class="description">Take down as many of the enemy team as you can, and establish your team's supremacy! Fun in large groups.</p>
    </div>

    <a class="staffbox" href="steam://connect/play.galeforce.me:16161">
        <img class="picture" src="assets/img/optim/ctf.png">
        <div class="name">Team Fortress 2 -- Capture the Flag</div>
        <div class="position">Click to Connect!</div>
        <hr>
        <p class="description">Infiltrate the enemy base, and steal the briefcase! Make it back to your base, and you win! Fun in large groups.</p>
    </a>

    <a class="staffbox" href="steam://connect/play.galeforce.me:26262">
        <img class="picture" src="assets/img/optim/payload.png">
        <div class="name">Team Fortress 2 -- Payload</div>
        <div class="position">Click to Connect!</div>
        <hr>
        <p class="description">Push the cart to the target, or prevent it from reaching its goal to win! Fun in large groups.</p>
    </a>

    <div class="clear"></div>
</div>


<div id="staff" class="article">
    <h1><a link="#staff"></a>Meet the staff!</h1>


    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/33/3347044a8d566c6b11e695612c9e4baa6ebe5fc9_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/arghargh200/">DJ Arghlex</a>
        <div class="position">Owner, Engineer</div>
        <hr>
        <p class="description">Constructed and operates GaleForce. Has an extensive background in operations, but not as much focus in development. Enjoys playing team games, and sometimes enjoys a sandbox game or two.</p>
    </div>


    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/e4/e4ffb6158380aba7056cda10366ca7c46e81f237_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/antoligy/">Antoligy</a>
        <div class="position">Administrator, Hosting</div>
        <hr>
        <p class="description">Currently hosting GaleForce's services. Has a background in development and operations. Enjoys playing fast-paced first-person shooters.</p>
    </div>
    
    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/99/99743fe5c9129b639e8931f1052c6a01a5c3f880_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/mikotohe2/">Lucy</a>
        <div class="position">Administrator, Moderation</div>
        <hr>
        <p class="description">Strong moderation and clear decision-making skills make Lucy our mdoeration head. Enjoys playing fast-paced shooters.</p>
    </div>

    <hr>
    <!--Reimu-->
    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/66/66071324342ab69f788a9340a884995a91692185_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/hakurei-reimu">Reimu_Hakurei</a>
        <div class="position">Moderator</div>
        <hr>
        <p class="description">Has strong operations skills and fast-acting service recovery. Enjoys playing sandboxes and story-focused games.</p>
    </div>
    <!--Avail-->
    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/4f/4fa62bf880491d152ffa60815fc3cb57276f09a6_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/nanoir/">avail</a>
        <div class="position">Moderator</div>
        <hr>
        <p class="description">Has a strong background in networking and reverse-engineering. Enjoys playing racing games.</p>
    </div>
    <!-- Rikai-->
    <div class="staffbox">
        <img class="picture" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/ba/ba9d94602889f5f7253429eb4c3ba3c4cb2e0ca4_full.jpg">
        <a class="name" href="http://steamcommunity.com/id/rikairchy/">Rikai</a>
        <div class="position">Moderator</div>
        <hr>
        <p class="description">Previously provided hardware for GaleForce, and is a great operations technician. Enjoys playing immersive games.</p>
    </div>

    <div class="clear"></div>
</div>


<div id="donate" class="article article-odd">
    <h1><a link="#donate"></a>Donors! <a href="https://goo.gl/3OvzAN">Become one today!</a></h1>

    <div class="clear"></div>
</div>

<div id="sponsors" class="article">
    <h1>Sponsors</h1>
    <div class="staffbox">
        <img class="picture" src="assets/img/optim/stormbit.png">
        <a class="name" href="http://stormbit.net/">StormBit</a>
        <div class="position">IRC Community</div>
        <hr>
        <p class="description">Great place to chat! Lots of discussion about technology, games, and other things!</p>
    </div>

    <div class="clear"></div>
</div>



<div id="rules" class="article article-odd">
    <h1><a link="#rules"></a>Rules</h1>
    <h3>These rules are not to be treated as the be-all-end-all rules for the whole entire service, as each game has its own code of conduct that will be shown when you join.</h3>
    <h4 class="gf-rules">
      <ol>{% for rule in site.data.rules %}<li>{{ rule }}</li>{% endfor %}</ol>
    </h4>
    <div class="clear"></div>
</div>
