/**
 * Palette:
 * Dark grey:   #3C3C3C
 * Light grey:  #CCCCCC;
 * Blue:        #124572;
 * White:       #FFFFFF;
 */

* {
    box-sizing:         border-box;
}

.galeforce {
    background-color: #ccc;
    display:            flex;
    flex-direction:     column;
    flex-wrap:          wrap;
    justify-content:    center;
    align-content:      flex-start;
    align-items:        center;
}

.galeforce__container {
    max-width:          996px;
}

.galeforce__div--margin-bottom {
    margin-bottom:      50px;
}

.galeforce__logo {
    max-width:          600px;
    height:             auto;
}

.galeforce__logo__img {
    max-width:          100%;
    height:             auto;
    display:            block;
}

.galeforce__nav {
    margin:                     0;
    padding:                    0;
    display:                    flex;
    flex-wrap:                  wrap;
    -webkit-justify-content:    space-around;
    justify-content             space-around;
    list-style:                 none;

}

.galeforce__nav__item {
    display:                    flex;
    -webkit-justify-content:    center;
    justify-content:            center;
    align-items:                center;

}

.galeforce__nav__item > a,
.galeforce__nav__item > a:hover,
.galeforce__nav__item > a:focus,
.galeforce__nav__item > a:active {
    text-decoration:            none;
    color:                      #3c3c3c;
    padding:                    20px;
}

.galeforce__nav__item > a:hover,
.galeforce__nav__item > a:focus,
.galeforce__nav__item > a:active {
    color:                      #FFFFFF;
    background-color:           #124572;
}

.galeforce__nav__item__content {
    height:                     50px;
}

.galeforce__nav__item__span {

}

@media (max-width: 600px) {
    .galeforce__nav__item {
        width:                  100%;
    }
}
