@import  "https://fonts.googleapis.com/css?family=Roboto";
/**
 * Palette:
 * Dark grey: #3C3C3C
 * Light grey: #CCCCCC;
 * Blue: #124572;
 * White: #FFFFFF;
 */
body {
	font-family: "Roboto";
	background-color: #ddd;
	
}

hr {
	border: 0px #000 solid;
	border-top: 1px #000 solid;
}

a,a:active,a:hover,a:focus{
	color:#124572;
}

.logo {
	margin: 0;
	padding: 0;
	text-align: center;
}

.logo>img {
	width: 75%;
}

.staffbox {
	float:left;
	padding: 10px;
	margin: 10px;
	text-align: left;
	width: 300px;
	height: 150px;
	text-decoration: none;
	font-size:100%;
}

.staffbox>.picture {
	width: 128px;
	height: 128px;
	margin-right: 10px;
	float:left;
}

.staffbox>.description {
	font-size: 70%;
	text-decoration: none;
	color: #111;
}

.staffbox>.name {
	text-decoration: bold;
	color: #124572;
}

.staffbox>.position {
	text-decoration: italic;
	color: #3C3C3C;
}

.article-odd {
	background-color: rgba(18,69,114,0.1);
}

.article {
	text-align: center;
	padding:5%;
}

.clear {
  clear:both;
}

.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	list-style: none;
}

.navigation_item {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
}

.navigation_item > a,.navigation_item > a:hover,.navigation_item > a:focus,.navigation_item > a:active {
	text-decoration: none;
	color: #3c3c3c;
	padding: 20px;
}

.navigation_item > a:hover,.navigation_item > a:focus,.navigation_item > a:active {
	text-decoration: bold;
	color: #FFF;
	background-color: #124572;
}
